 <!--SCRUM COLUMNS-->
 <div class="row">
   <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
     <!--Create a new column and/or sprint. Select sprint.-->
     <div class="new-column">
       <input id="newColumnInput" ng-model="newColumn.name" type="textfield" placeholder="New Column name"/>
       <img id="newColumn" ng-click="saveNewColumn()" src="images/ic_add_black_24dp_1x.png">

       <input class="new-sprint" ng-model="newSprint.name" type="textfield" placeholder="New Sprint name"/>
       <img id="newSprintButton" ng-click="saveNewSprint()" src="images/ic_add_black_24dp_1x.png">
       <label class="sprintLabel">Sprint: </label><select name="selected" class="select-sprint" ng-model="data.selected" ng-options="sprint for sprint in project.sprints"></select>
       <label class="participantLabel">Add participant: </label><select name="selected" class="select-sprint" ng-model="projectParticipant" ng-options="participant for participant in projectParticipants | userFilter: project"></select><img id="newColumnButton" class="newParticipant" ng-click="addProjectMember(projectParticipant)" src="images/ic_add_black_24dp_1x.png">
     </div>

     <!--The columns are displayed here-->
     <div ng-repeat="column in columns track by column.id">
       <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2 column column" style="padding: 0;">

         <!-- Button trigger modal -->
         <h3 class="column-name">{{column.name}}<img src="images/ic_add_black_24dp_1x.png" id="das" type="button" class="newTask" data-toggle="modal" data-target="#{{column.id}}"></h3>
         <!--Script needed to activate popup/modal-->
         <script type="text/javascript">
         $(setTitle()).on('shown.bs.modal', function () {
           $('#myInput').focus()
         })
         </script>
         <!-- popup/Modal -->
         <div class="modal fade" id="{{column.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4 class="modal-title" id="myModalLabel">New Task</h4>
               </div>
               <div class="modal-body">
                 <input ng-model="newTask.ItemName" type="textfield" placeholder="Task Name" />
                 <textarea ng-model="newTask.ItemBody" rows="5" cols="50" placeholder="Task Description" /></textarea><br/>
                 <label>Sprint:</label><select ng-model="newTask.ItemSprint" ng-options="sprint for sprint in project.sprints" class="new-item-sprint"></select>
               </div>
               <div class="modal-footer">
                 <!--Warning label, create and select sprint before creating column items!-->
                 <label class="item-warning">{{warning}}</label>
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 <button id="createNewTask" ng-click="saveNewColumnItem(column)" type="button" class="btn btn-primary">Add</button>
               </div>
             </div>
           </div>
         </div>

         <!--Items in column-->
         <div id="{{column.id}}" class="itemList list-group" ondrop="drop(event, this)" ondragover="allowDrop(event)">
           <div ng-repeat="task in column.tasks | filter:data.selected track by task.id">
             <a class="list-group-item" draggable="true" ondragstart="drag(event)" ondrop="return false;" id="{{task.name}}">
               <h4 class="list-group-item-heading">{{task.name}} <img class="deleteItem" ng-click="deleteItem(column, task)" src="images/ic_add_black_24dp_1x.png"></h4>
               <p class="list-group-item-text">{{task.body}}</p>
             </a>
           </div>
         </div>

       </div>
     </div>
   </div>
 </div>
